.create_post{
    text-align: center;
}

.create_post h2 {
    font-size: 2.2em;
}

.create_post p {
    color: #AAA;
}

@media(max-width: 768px){
    .create_post h2 {
        font-size: 1.8em;
    }
    .create_post p {
        width: 80%;
        margin: 2em auto;
        color: #AAA;
    }
}
