.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  align-items: center;
  list-style: none;
}

.links_list {
  margin-right: 1em;
}

.links_list li a, .logoutbtn {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #000;
  color: #fcfcfc;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .brand {
    font-size: 1em;
  }

  .navbar {
    padding: 0.5em 1em;
  }

  .links_list {
    margin-right: 0;
  }

  .links_list li a, .logoutbtn{
    font-weight: bold;
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.3em .7em;
  }

  .links_list li {
    font-size: 0.7em;
  }
}

@media (max-width: 405px) {
  .links_list li {
    font-size: 0.6em;
  }
}
